/* PIE DE PÁGINA */
.pie-pagina {
    padding-top: 20px;
    width: 100%;
    background-color: #1c1c1c;
}

/* CONTENIDO GENERAL */
.pie-contenido {
    width: 100%;
}

/* COLUMNAS */
.pie-columna-contacto,
.pie-columna-ubicacion {
    padding: 20px;
}

/* LLAMADA */
.pie-llamada h2 {
    color: #053f89;
    font-weight: 100;
    font-size: 18px;
}

.pie-llamada p {
    margin-top: 20px;
    font-size: 28px;
    font-family: Impact;
    font-style: italic;
    color: #fff;
}

/* REDES SOCIALES */
.pie-redes {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    color: #fff;
}

.pie-redes a {
    color: #fff;
}

.pie-redes .fa-brands {
    margin-top: 20px;
}

/* UBICACIÓN */
.pie-columna-ubicacion h2 {
    font-family: Impact;
    font-size: 25px;
    font-style: italic;
    color: #053f89;
}

.pie-columna-ubicacion p,
.pie-columna-ubicacion h3 {
    color: #fff;
    margin: 10px 0;
}

/* BOTÓN MAPA */
.boton-mapa {
    font-size: 12px;
    display: block;
    width: 100%;
    padding: 10px 0;
    margin-top: 20px;
    background-color: #053f89;
    color: #fff;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}

.boton-mapa:hover {
    background-color: #092a57;
}

/* AUTOR */
.pie-autor {
    font-size: 15px;
    padding: 30px;
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #053f89;
}


/* RESPONSIVE */
@media (min-width: 768px) {

    .pie-contenido {
        display: flex;
        justify-content: space-evenly;
    }

    .pie-autor p {
        font-size: 10px;
    }

    .pie-columna-ubicacion p,
    .pie-columna-ubicacion h3 {
        font-size: 12px;
    }

    .pie-redes a {
        font-size: 12px;
    }
}