* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2 {
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* CONTENIDO DEL MENU */
/* .main {
    padding: 0 10px;
} */