.container-how-we-work {
    width: 100%;
    padding: 20px;
    background-color: #f1f1f1;
}

.container-how-we-work h2 {
    font-weight: bolder;
    font-style: italic;
}

.container-how-we-work ol {
    padding: 0 20px;
}

.container-how-we-work ol li {
    font-size: 20px;
    padding: 20px 0;
}

@media (min-width: 1200px) {
    .container-how-we-work ol li {
        font-size: 15px;
    }
}