.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main .container-carosel {
    width: 100%;
}

.container_img-head {
    width: 100%;
    height: auto;
}

.container_img-head img {
    width: 100%;
    height: 100%;
}

.main {
    padding: 0 20px;
}

.main .sub-title,
.main .sub-title-service,
.services .sub-title-service {
    font-size: 15px;
    font-weight: 100;
    color: #cecece;
    margin-top: 15px;
    text-align: center;
}

.main .sub-title_two,
.main .sub-title-service-two {
    text-align: center;
    margin: 10px 0;
    font-weight: bolder;
}

.services .sub-title-service-two {
    text-align: center;
    margin: 10px 0;
    font-weight: bolder;
}

@media (min-width: 1200px) {
    .main .container-carosel {
        width: 60%;
    }

    .container_img-head {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        /* background-color: #8ea0b5; */
    }

    .container_img-head img {
        width: 60%;
        height: 100%;
    }

    .main .sub-title,
    .main .sub-title-service {
        font-size: 13px;
        font-weight: 100;
    }

    .main .sub-title_two {
        font-size: 25px;
    }

}