/* CONTENEDOR PRINCIPAL */
.contenedor-principal {
    width: 100%;
    padding: 0 20px;
}

.mantenimiento__titulo {
    margin-bottom: 10px;
}

.mantenimiento__item {
    margin: 5px;
}

.mantenimiento__lista {
    padding-left: 20px;
}

.mantenimiento-scanner-automotriz__descripcion:nth-child(5),
.mantenimiento-sistema-inyeccion__descripcion:nth-child(5),
.mantenimiento-aire-acondicionado__descripcion:nth-child(5),
.mantenimiento-electricidad-automotriz__descripcion:nth-child(5),
.mantenimiento-alineacion-balanceo__descripcion:nth-child(5),
.mantenimiento-pintura-automotriz__descripcion:nth-child(5),
.mantenimiento-tapiceria__descripcion:nth-child(5),
.mantenimiento-cambio-de-vidrios__descripcion:nth-child(5),
.mantenimiento-compra-venta__descripcion:nth-child(6) {
    margin-bottom: 5px;
}

.boton-agendar {
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    color: #fff;
    font-size: 20px;
    font-weight: bolder;
    border: none;
    border-radius: 5px;
    background-color: #053f89;
}

.boton-agendar:hover {
    background-color: #092a57;
}

.mantenimiento__media .mantenimiento__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.titulo-marcas-seccion {
    font-size: 15px;
    font-weight: 100;
    color: #cecece;
    margin-top: 30px;
    text-align: center;
    text-transform: uppercase;
}

/* ===================== */
/* RESPONSIVE DESKTOP */
/* ===================== */
@media (min-width: 800px) {
    .mantenimiento {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mantenimiento__contenedor {
        /* width: 80%; */
        display: flex;
        gap: 20px;
    }
}

@media (min-width: 1200px) {
    .mantenimiento__contenedor {
        width: 80%;
    }

    .mantenimiento__texto {
        width: 60%;
    }

    .mantenimiento__media {
        width: 40%;
    }

    /* .mantenimiento__texto .mantenimiento__titulo, */
    .mantenimiento__texto .mantenimiento__descripcion,
    .mantenimiento__texto .mantenimiento__item {
        font-size: 12px;
    }

    .boton-agendar {
        font-size: 12px;
        border-radius: 0;
        margin: 0;
    }
}