.section-info {
    padding: 0 10px;
}

.container-text h2 {
    margin: 25px 0;
}

.container-info .container-text p {
    margin: 15px 0;
}

.section-info .container-info .img-prevent {
    width: 100%;
}

/* BOTON AGENDAR CITA */
.schedule {
    margin-bottom: 20px;
}

.section-info .sub-title {
    text-align: center;
    margin: 20px 0;
}

.section-map {
    padding: 20px;
    margin-top: 40px;
}

.section-map h2 {
    font-family: Impact;
    margin-bottom: 20px;
    font-size: 30px;
    font-style: italic;
    color: #053f89;
}

@media (min-width: 1200px) {
    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section-info {
        width: 60%;
    }

    .container-info {
        display: flex;
        gap: 20px;
    }

    .section-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* .container-text .schedule {
        margin-top: 10px;
    } */

    .section-info .container-info .container-text,
    .section-info .container-info .container-img {
        width: 50%;
    }

    .section-info .container-info .container-img {
        background-color: red;
        height: 300px;
    }

    .container-info .container-img .img-prevent {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}