.section-info {
    padding: 0 10px;
}

.section-info h2 {
    margin: 25px 0;
}

.section-info p {
    margin: 15px 0;
}

.section-info .img-prevent {
    width: 100%;
}

/* BOTON AGENDAR CITA */
.schedule {
    width: 100%;
    padding: 15px;
    color: #fff;
    font-size: 20px;
    font-weight: bolder;
    border: none;
    border-radius: 5px;
    background-color: #053f89;
    margin-bottom: 20px;
}

.section-info .sub-title {
    text-align: center;
    margin: 20px 0;
}

.section-map {
    padding: 20px;
    margin-top: 40px;
    /* background-color: #000; */
}

.section-map h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 20px;
    font-size: 30px;
    font-style: italic;
    color: #053f89;
}