/* SECCIÓN SERVICIOS */
.seccion-servicios {
    width: 100%;
    margin-top: 20px;
    border-top: 1px solid #efefef;

    display: grid;
    grid-template-columns: 1fr;
    padding: 20px 0;
    gap: 20px;
}

/* TARJETAS */
.tarjeta-servicio {
    width: 100%;
    border: 1px solid #efefef;
    padding: 10px;
    box-shadow: 1px 1px 2px #e4e4e4;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-radius: 10px;
    transition: 0.3s;
}

/* IMAGEN */
.tarjeta-servicio img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    border-radius: 10px 10px 0 0;
}

/* TÍTULO */
.servicio-titulo {
    font-size: 19px;
    margin: 10px 0;
    text-align: center;
}

/* ENLACE / BOTÓN */
.servicio-enlace {
    padding: 10px 40px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    background-color: #053f89;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 6px;
}

/* HOVER */
.servicio-enlace:hover {
    background-color: #092a57;
}

/* EFECTO HOVER TARJETA (mejora visual) */
.tarjeta-servicio:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}


/* RESPONSIVE */

/* Tablet → 2 columnas */
@media (min-width: 768px) {
    .seccion-servicios {
        grid-template-columns: 1fr 1fr;
    }
}

/* Desktop → 3 columnas */
@media (min-width: 1200px) {

    .seccion-servicios {
        width: 80%;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .servicio-enlace {
        padding: 7px 20px;
    }
}